<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Find Train</title>
</head>
<body>
    <div class="header">
        {% load static %} <img src="{% static 'images/fmticon.png' %}" alt="logo" class="logo" />
        <div>
            <ul class="navbar-items">
                <li><a href="{% url 'index'%}">Home</a></li>
                <li><a href="{% url 'pnrstatus'%}">PNR Status</a></li>
                <li><a href="{% url 'findtrainbyname'%}">Find Train</a></li>
                <li><a href="{% url 'livestation'%}">Live Location</a></li>
            </ul>
        </div>
        <a href="{% url 'home'%}" class="cta"><button>Queries</button></a>
    </div>
    <div class="ftcontainer" style="height:520px;">
        <h1>Find train between source and destination</h1>
        <p>Get the details of Indian Railway trains between source and destination stations</p>

        <form action="{% url 'findtrainsrcdestresult' %}" method="POST">
            {% csrf_token %}
            <div class="user-box">
                <label>Source</label>
                <input type="search" placeholder="Enter Source Station" aria-label="Search" name="sourcestation" class="TrainName">
            </div>
            <div class="user-box">
                <label>Destination</label>
                <input type="search" placeholder="Enter Destination Station" aria-label="Search" name="destinationstation" class="TrainName">
            </div>
            <div class="btncont">
                <button type="submit" class="searchbtn"> Search </button>
            </div>
        </form>
    </div>
</body>
</html>